<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>THE PLANETS</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="main-header"><%- include('partials/header.ejs') %></div>
      <div class="main-content"><%- include('partials/content.ejs') %></div>
      <div class="main-footer"><%- include('partials/footer.ejs') %></div>
    </div>
    <script src="js/planet_index.js"></script>
  </body>
</html>
