* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #070724;
    background-image: url(../assets/background-stars.svg);
  }
  
  .main-container {
    height: 100vh;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  